img {
  width: 100%;

  /* height: 75%; */
}

input,
textarea {
  width: 100%;
  margin: 5% 0;
  border-radius: 5px;
  padding: 2% 0;
  border-color: rgb(182, 182, 182);
  border-style: none;
  resize: none;
}

header {
  background-color: rgb(86, 43, 129);
}

.purp-head {
  /* background-color: rgb(86, 43, 129); */
  color: white;
  font-weight: lighter;
  padding: 1% 0;

  /* padding: 1% 56px;
  margin: 0; */
}

h2 {
  margin: 0 0 6%;
}

label {
  font-weight: bold;
  margin-bottom: 5%;
}

button {
  flex-direction: row-reverse;
}

.submit-button {
  background-color: rgb(86, 43, 129);
  color: white;
  margin-left: 90%;
  width: 10%;
}
